<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Lista de Livros</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">lista-livro</ion-title>
    </ion-toolbar>
  </ion-header>
</ion-content>

<ion-content class="ion-padding">
  <div *ngIf="livro">
    <h2>{{ livro.nome }}</h2>
    <p><strong>Autor:</strong> {{ livro.autor }}</p>
    <p><strong>ISBN:</strong> {{ livro.isbn }}</p>
    <p><strong>Ano:</strong> {{ livro.anoPublicacao }}</p>
    <p><strong>Gênero:</strong> {{ livro.genero }}</p>
    <p><strong>Preço:</strong> R$ {{ livro.preco }}</p>
  </div>
  
  <div *ngIf="!livro">
    <p>Nenhum dado recebido.</p>
  </div>
</ion-content>