<ion-header>
  <ion-toolbar>
    <ion-title>Lista de Livros</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-button expand="full" routerLink="/cadastro-livro">Novo Livro</ion-button>

  <ion-list *ngIf="livros.length > 0; else vazio">
    <ion-item *ngFor="let livro of livros; index as i">
      <ion-label>
        <h2>{{ livro.nome }}</h2>
        <p><strong>Autor:</strong> {{ livro.autor }}</p>
        <p><strong>Ano de publicação</strong> {{ livro.anoPublicacao }}</p>
        <p><strong>Gênero:</strong> {{ livro.genero }}</p>
        <p><strong>ISBN:</strong> {{ livro.isbn }} | <strong>R$:</strong> {{ livro.preco }}</p>
      </ion-label>

      <ion-buttons slot="end">
        <ion-button fill="clear" color="primary" (click)="editarLivro(i)">
          Editar
        </ion-button>
        <ion-button fill="clear" color="danger" (click)="excluirLivro(i)">
          Excluir
        </ion-button>
      </ion-buttons>
    </ion-item>
  </ion-list>

  <ng-template #vazio>
    <ion-text class="ion-padding">Nenhum livro cadastrado.</ion-text>
  </ng-template>
</ion-content>
